/* Font Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; 
}

html, body, #root {
  min-height: 100%; /* Allow the background image to fill all the page */    
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover; /* fill all window */
  -webkit-font-smoothing: antialiased !important /* for more detailed fonts */
}

/* Define font on tags: */
body, input, button {

  /* '' are commonly used to spacify custon fonts, like Roboto */
  /* If not load 'Roboto', the Arial will be, but if not work, will be load Helveltica, and so on */
  font-family: 'Roboto', Arial, Helveltica, sans-serif; 
}

.container {
  /* add some space at top of page */
  margin: 80px auto;

  /* if width is less than 450, it will cover 100 of the page */
  max-width: 450px;
  width: 100%; 

  /* all inside elements will be centered and each one inside other (columns) */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background: #ffffff;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

/* forst p before content class */
.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  /* each one inside other (columns) */ 
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 45 px;
  padding: 0 15px;
  font-size: 16px;
}

/* .class button.class */
.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #ffffff; /* button color */
  cursor: pointer; /* change the cursor to be "clickable" when passed over on the button */ 
}

.content button.btn:hover {
  background:  #f05a5adc;
}